KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1506", ENV{USB_HUB_TYPE}="12d1:1506"
ENV{USB_HUB_TYPE}=="12d1:1506", KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty", KERNELS=="[1-2]-1.[1-4]:1.3", SYMLINK+="dsi-modem"
ENV{USB_HUB_TYPE}=="12d1:1506", KERNEL=="ttyUSB[0-9]*", SUBSYSTEM=="tty", KERNELS=="[1-2]-1:1.3", SYMLINK+="dsi-modem"
